/*-----font family: Sansita------*/
@font-face {
    font-family: Sansita;
    src: url(../fonts/Sansita_Swashed/SansitaSwashed-VariableFont_wght.ttf);
  }
  
  /*-----font family: Courgette------*/
  @font-face {
    font-family: Courgette;
    src: url(../fonts/Courgette/Courgette-Regular.ttf);
  }
  
  /*-----font family: Abel------*/
  @font-face {
    font-family: Abel;
    src: url(../fonts/Abel/Abel-Regular.ttf);
  }
  
  /*-----font family: Livvic------*/
  @font-face {
    font-family: Livvic;
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
  }
  /*-----font family: Averia_Serif_Libre------*/
  @font-face{
      font-family: Averia_Serif_Libre;
      src: url(../fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf);
  }
  /*-----font family: Bangers------*/
  @font-face{
    font-family: Bangers;
    src: url(../fonts/Bangers/Bangers-Regular.ttf);
}
  /*-----font family: Be_Vietnam------*/
  @font-face{
    font-family: Be_Vietnam;
    src: url(../fonts/Be_Vietnam/BeVietnam-Regular.ttf);
}
  /*-----font family: Kaushan_Script------*/
  @font-face{
    font-family: Kaushan_Script;
    src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}
  /*-----font family: Special_Elite------*/
  @font-face{
    font-family: Special_Elite;
    src: url(../fonts/Special_Elite/SpecialElite-Regular.ttf);
}
  /*-----font family: Poppins------*/
  @font-face{
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
/*-----font family: East_Sea_Dokdo------*/
@font-face{
  font-family: East_Sea_Dokdo;
  src: url(../fonts/East_Sea_Dokdo/EastSeaDokdo-Regular.ttf);
}
/*-----font family: Roboto------*/
@font-face{
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}